html
    {
        background-image: url("./images/background-final.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

header, aside, main, .details
    {
        border: 2px solid wheat;
        border-radius: 10px;
        margin: auto;
        margin-top: 1%;
    }

header
    {
        text-align: center;
        font-weight: bold;
        font-size: 4vw;
        padding-bottom: 1%;
        padding-top: 1%;
        color: yellow;
        text-shadow: -5px -5px 0 blue, 5px -5px 0 blue, -5px 5px 0 blue, 5px 5px 0 blue;
        font-family: 'Bangers', cursive;
    }

aside
    {
        float: left; 
        width: 18%;
        height: 83%;
        margin-bottom: 1%; 
    }

p, .pStats
    {
        text-align: center;
        font-size: 5vw;
        font-weight: bold;
        color: rgb(226, 230, 154);
        font-family: 'Bangers', cursive;
        margin-top: 5%;
    }

.pStats {
    color: yellow;
    text-shadow: 4px 8px blue;
    margin-top: 10%;
    margin-bottom: 10%;
}

.p1,.p2
    {
        color: rgb(133, 69, 10);
        font-size: 50%;
    }

.p1 {
    margin-top: 25px;
}

.p2 {
    margin-top: -24%;
    margin-bottom: 0px;
}
.cooked {
    font-size: 3vw;
}

.modalBox p 
    {
        color: rgb(128, 77, 1);
    }

.details
    {
        background-image: url("./images/cutting\ borad.jpg");
        height: 8vh;
        width: 69%;
        text-align: center;
        font-size: 2vw;
        margin-bottom: 5%;
        font-family: 'Overpass', sans-serif;
        font-weight: bold;

        vertical-align: middle; /* For text in the center of div */
        line-height: 9vh; /* For text in the center of div (the same as your div height) */
    }


.back_card
    {
        background-image: url("./images/backcard.gif");
        height: 100%;
        width: 100%;
        background-size: cover;
        position: absolute;
        background-position: center;
    }

.back_card:hover, .submit:hover, .close:hover, .clean:hover{
    cursor: pointer;
    transition-duration: 200ms;
    transform: scale(1.1);
}

/**Front Card CSS**/

.couple1_js,.couple2_html,.couple3_github,.couple4_mysql,.couple5_react,.couple6_php,.couple7_node,.couple8_css,.couple9_docker
    {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }


.couple1_js
    {
        background-image: url("./images/1carving-knife.jpg");    
    }

    

.couple2_html
    {
        background-image: url("./images/2chicken-nuggets.jpg");    
    }

.couple3_github
    {
        background-image: url("./images/3cutting-board.jpg");
    }

.couple4_mysql
    {
        background-image: url("./images/4pasta-in-pot.jpg");
    }


.couple5_react
    {
        background-image: url("./images/egg.jpg");
    }

.couple6_php
    {
        background-image: url("./images/6pan.jpg");
    }

.couple7_node
    {
        background-image: url("./images/7grill.jpg");
    }

.couple8_css
    {
        background-image: url("./images/8folk-spoon.jpg");
    }

.couple9_docker
    {
        background-image: url("./images/9stove-top.jpg");
    }

.hidden
    {
        display: none;
    }

/** Modal Box Css Ending Box**/
.modalBox
    {
        display: none;
        position: fixed;
        z-index: 1;
        width: 37vw;
        height: 20vw;
        top: 35%;
        left: 36vw;
        overflow: auto;
        border: 2px solid black;
        border-radius: 50px;
        font-size: 10vw;    
        font-family: 'Courgette', cursive;
    }

.modalBox::before
    {
        background-image: url("./images/modalBox\ win.gif");
        opacity: 0.7;
        width: 37vw;
        height: 20vw;
        z-index: -1;
        content: " ";
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
    }

/** Modal Box Css Welcome Box**/

.welcome
    {
        display: none;
        position: fixed;
        z-index: 1;
        width: 34vw;
        height: 20vw;
        top: 30%;
        left: 33%;
        overflow: auto;
        border: 2px solid black;
        border-radius: 50px;
        font-size: 5vw;   
        font-family: 'Courgette', cursive;
        
    }

.welcome::before
    {
        background-image: url("./images/prepairToCook.gif");
        opacity: 0.8;
        width: 34vw;
        height: 20vw;
        z-index: -1;
        content: " ";
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
    }

/**Button of Modal Boxes**/

.submit
    {
        top: 78%;
        left: 36%;
        position: absolute;
        width: 35%;
        height: 15%;
        background-color: blanchedalmond;
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5vw;
        font-size: 1vw;
        margin-top: 2%;
    }

.name
    {
        top: 56%;
        left: 35%;
        position: absolute;
        width: 35%;
        height: 15%;
        background-color: blanchedalmond;
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5vw;
        font-size: 3vw;
        font-family: 'Parisienne', cursive;
    }

.close
    {
        top: 39%;
        left: 32%;
        position: absolute;
        width: 35%;
        height: 15%;
        background-color: blanchedalmond;
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5vw;
        font-size: 1vw;
    }

.opacityCard
    {
        opacity: 0.3;
    }

.modalBox > input   
    {
        top: 58%;
        left: 32%;
        position: absolute;
        width: 35%;
        height: 15%;
        background-color: blanchedalmond;
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5vw;
        font-size: 1vw;
    }

/******************************************************************************/


@media only screen and (max-width: 575px) {
    .container
    {
        position: relative;
        /* display: flex; */
        height: 22vh;
        width: 168vw;
        margin-left: 3%;
        padding-top: 1%;
    }
    main    
    {
        width: 75vw;
        height: 27vh;
        display: flex;
        justify-content: space-around;
    }
    .card
    {
        width: 16%;
        height: 31%;
        margin: 0.25% 0.25% 0.25% 0.25%;
        display: inline-block;
        position: relative;
        background-size: cover;
    }
  }

  @media only screen and (min-width: 576px) and (orientation : landscape) {
    .p1,.p2
    {
        color: rgb(133, 69, 10);
        font-size: 50%;
    }

    .p1 {
        margin-top: 25px;
    }

    .p2 {
        margin-top: -15px;
        margin-bottom: 0px;
    }
    .container
    {
        position: relative;
        height: 27vh;
        width: 168vw;
        margin-left: 3%;
        padding-top: 1%;
    }
    main    
    {
        width: 76vw;
        height: 78vh;
        display: flex;
        justify-content: space-around;
    }
    .card
    {
        width: 16%;
        height: 79%;
        margin: 0.25% 0.25% 0.25% 0.25%;
        display: inline-block;
        position: relative;
        background-size: cover;
    }
  } 


  @media only screen and (min-width: 768px) {
    .container
    {
        position: relative;
        /* display: flex; */
        height: 41vh;
        width: 168vw;
        margin-left: 3%;
        padding-top: 1%;
    }
    main    
    {
        width: 76vw;
        height: 45vh;
        display: flex;
        justify-content: space-around;
    }
    .card
    {
        width: 16%;
        height: 23%;
        margin: 0.25% 0.25% 0.25% 0.25%;
        display: inline-block;
        position: relative;
        background-size: cover;
    }
  }

  @media only screen and (min-width: 1140px) {
    .container
    {
        position: relative;
        /* display: flex; */
        height: 75vh;
        width: 168vw;
        margin-left: 3%;
        padding-top: 1%;
    }
    main    
    {
        width: 76vw;
        height: 80vh;
        display: flex;
        justify-content: space-around;
    }
    .card
    {
        width: 16%;
        height: 33%;
        margin: 0.25% 0.25% 0.25% 0.25%;
        display: inline-block;
        position: relative;
        background-size: cover;
    }
  } 

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .p1,.p2
    {
        color: rgb(133, 69, 10);
        font-size: 50%;
    }

    .p1 {
        margin-top: 25px;
    }

    .p2 {
        margin-top: -15px;
        margin-bottom: 0px;
    }
    .container
    {
        position: relative;
        height: 75vh;
        width: 168vw;
        margin-left: 3%;
        padding-top: 1%;
    }
    main    
    {
        width: 76vw;
        height: 80vh;
        display: flex;
        justify-content: space-around;
    }
    .card
    {
        width: 16%;
        height: 13%;
        margin: 0.25% 0.25% 0.25% 0.25%;
        display: inline-block;
        position: relative;
        background-size: cover;
    }

/* Ipad */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2)  {
        container
        {
            position: relative;
            height: 75vh;
            width: 168vw;
            margin-left: 3%;
            padding-top: 1%;
        }
        main    
        {
            width: 76vw;
            height: 80vh;
            display: flex;
            justify-content: space-around;
        }
        .card
        {
            width: 16%;
            height: 21%;
            margin: 0.25% 0.25% 0.25% 0.25%;
            display: inline-block;
            position: relative;
            background-size: cover;
        }
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .card
        {
            width: 16%;
            height: 12%;
            margin: 0.25% 0.25% 0.25% 0.25%;
            display: inline-block;
            position: relative;
            background-size: cover;
        }
    }

    /* Ipad Pro */
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        container
        {
            position: relative;
            height: 75vh;
            width: 168vw;
            margin-left: 3%;
            padding-top: 1%;
        }
        main    
        {
            width: 76vw;
            height: 80vh;
            display: flex;
            justify-content: space-around;
        }
        .card
        {
            width: 16%;
            height: 12%;
            margin: 0.25% 0.25% 0.25% 0.25%;
            display: inline-block;
            position: relative;
            background-size: cover;
        }
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
        container
        {
            position: relative;
            height: 75vh;
            width: 168vw;
            margin-left: 3%;
            padding-top: 1%;
        }
        main    
        {
            width: 76vw;
            height: 80vh;
            display: flex;
            justify-content: space-around;
        }
        .card
        {
            width: 16%;
            height: 21%;
            margin: 0.25% 0.25% 0.25% 0.25%;
            display: inline-block;
            position: relative;
            background-size: cover;
        }
    }
    
}
  